# This file contains common pin mappings for the BIGTREETECH SKR V3 on a sidewinder x1 with BLTouch and E3D Thermistor.

[include mainsail.cfg]
#[include eddy.cfg]
#[include adxl345.cfg]
[include filament.cfg]
#[include shell_command.cfg]

[stepper_x]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: !PC1
position_endstop: 0
position_max: 290
homing_speed: 40.0

[stepper_y]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 40
endstop_pin: !PC3
position_endstop: 0
position_max: 310
homing_speed: 40
homing_positive_dir: false

[stepper_z]
step_pin: PE2
dir_pin: PE3
enable_pin: !PE0
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 400
homing_speed: 30
second_homing_speed: 1

[stepper_z1]
step_pin: PD11
dir_pin: PD10
enable_pin: !PD13
microsteps: 16
rotation_distance: 8

[extruder]
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 7
nozzle_diameter: 0.400
filament_diameter: 1.750					  
heater_pin: PB3
sensor_type: ATC Semitec 104NT-4-R025H42G 
sensor_pin: PA2
min_extrude_temp: 190
min_temp: 5
max_temp: 270
max_extrude_only_distance: 500
max_extrude_cross_section: 2.0
#control: pid
#pid_kp: 21.465
#pid_ki: 0.980
#pid_kd: 117.521


[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
min_temp: 5
max_temp: 200
#control: pid
#pid_Kp: 43.989
#pid_ki: 0.633
#pid_kd: 763.756

[heater_fan heatbreak_cooling_fan]
pin: PB4
heater: extruder
kick_start_time: 0.500

[fan_generic nozzle_fan]
pin: PB7
#heater: extruder
#heater_temp: 100.0
max_power: 1.0

[mcu]
#make sure this reflects your serial port you found when flashing klipper																		 
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_45001F001651313238353730-if00

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 2000
#max_accel_to_decel: 10000
max_z_velocity: 50
max_z_accel: 300
square_corner_velocity: 5 


[bltouch]
sensor_pin: ^PC13
control_pin: PE5
x_offset:-5
y_offset:25
z_offset:0
speed:10
samples:1
samples_result:average
set_output_mode: 5V
probe_with_touch_mode: true
stow_on_each_sample: false

[safe_z_home]
home_xy_position: 122,183
speed: 500
z_hop: 20               
z_hop_speed: 20

[bed_mesh]
speed: 500
mesh_min: 30,30
mesh_max: 270,270
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 3.0
split_delta_z: .010
fade_start: 1.0 
fade_end: 5.0

[bed_screws]
screw1: 55,55
screw1_name: front left
screw2: 255,55
screw2_name: front right
screw3: 255,255
screw3_name: back right
screw4: 55,255
screw4_name: back left
speed: 100.0


[screws_tilt_adjust]
screw1: 22,83
screw1_name: front left
screw2: 222,83
screw2_name: front right
screw3: 22,283
screw3_name: back left
screw4: 222,283
screw4_name: back right
speed: 100.0
screw_thread: CW-M5

#uncomment the following lines to use Z_TILT_ADJUST and uncomment G34 Macro to use G34
[z_tilt]
z_positions: 
     10,155
     270,155

points: 
    10,155
    270,155
speed: 100
horizontal_move_z: 10


[input_shaper]
#shaper_freq_x: 21   # frequency for the X mark of the test model
#shaper_freq_y: 26.5  # frequency for the Y mark of the test model
shaper_type: mzv


[gcode_macro G29]
gcode:
  BED_MESH_CLEAR
  G28
  BED_MESH_CALIBRATE
  BED_MESH_PROFILE SAVE=x1
 
[gcode_macro G34]
gcode:
     G28
     Z_TILT_ADJUST				 			  

[gcode_macro G35]
gcode:
     G28
     SCREWS_TILT_CALCULATE

[pause_resume]
recover_velocity: 50.

[gcode_macro M106]
gcode:
    {% set fan = 'nozzle_fan' %}
    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}
    
[gcode_macro PID_Extruder]
gcode:
    {% set Target = params.Temperature|default(210)|float %}
    PID_CALIBRATE HEATER=extruder TARGET={Target} [WRITE_FILE=1]

[gcode_macro PID_Bed]
gcode:
    {% set Target = params.Temperature|default(60)|float %}
    PID_CALIBRATE HEATER=heater_bed TARGET={Target} [WRITE_FILE=1]

#[gcode_macro update_git]
#gcode:
#    {% set message = params.MESSAGE|default() %}
#    {% if message %}
#        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
#    {% else %}
#        RUN_SHELL_COMMAND CMD=update_git_script
#    {% endif %}

#[gcode_shell_command update_git_script]
#command: bash -c "bash $HOME/klipper-backup/script.sh"
#timeout: 90.0
#verbose: True

#[gcode_shell_command update_git_script_message]
#command: bash -c "bash $HOME/klipper-backup/script.sh -c $0"
#timeout: 90.0
#verbose: True

[filament_switch_sensor switch_sensor]
switch_pin: ^PC2
pause_on_runout: False
runout_gcode:
  PAUSE
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted
  
#[filament_motion_sensor encoder_sensor]
#switch_pin: !PA0
#detection_length: 3.0 #2.88 # accuracy of motion sensor 2.88mm
#extruder: extruder
#pause_on_runout: False
#runout_gcode:
#  PAUSE
#  M117 Filament encoder runout
#insert_gcode:
#  M117 Filament encoder inserted

[firmware_retraction]
retract_length: 0.8
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.2
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.




# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

#[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
#variable_bed_surfaces: ['smooth_1','texture_1']
# Length (in mm) of filament to load (bowden tubes will be longer).
#variable_load_length: 90.0
# Hide the Octoprint LCD menu since I don't use it.
#variable_menu_show_octoprint: False
# Customize the filament menus (up to 10 entries).
#variable_menu_temperature: [
#  {'name' : 'PLA',  'extruder' : 200.0, 'bed' : 60.0},
#  {'name' : 'PETG', 'extruder' : 230.0, 'bed' : 85.0},
#  {'name' : 'ABS',  'extruder' : 245.0, 'bed' : 110.0, 'chamber' : 60}]
# Length of filament (in millimeters) to purge at print start.
#variable_start_purge_length: 30 # This value works for most setups.
#gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
#  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
#[include klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
#[include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
#[include klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
#[idle_timeout]
#gcode:
#  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

#[pause_resume]

#[respond]

#[save_variables]
#filename: ~/printer_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

#[virtual_sdcard]
#path: ~/gcode_files # UPDATE THIS FOR YOUR PATH!!!
#on_error_gcode: CANCEL_PRINT

#[display_status]
########################################
#
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>


########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_y]
uart_pin: PD0
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_z]
uart_pin: PE1
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 250

[tmc2209 stepper_z1]
uart_pin: PD12
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 250

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.353
#*# pid_ki = 2.722
#*# pid_kd = 68.725
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.645
#*# pid_ki = 0.810
#*# pid_kd = 587.573
#*#
#*# [probe]
#*# z_offset = 1.150
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 32.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.6
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.070708, -0.006624, -0.007960, -0.084790, 0.009707, -0.077371, -0.087051, -0.096567, -0.105271
#*# 	-0.059637, -0.001344, -0.005691, -0.005175, 0.014151, -0.006014, -0.084847, -0.079693, -0.097781
#*# 	-0.034753, -0.007725, 0.002383, -0.069429, 0.021547, -0.005143, -0.077571, -0.091262, -0.089800
#*# 	-0.074739, -0.023918, -0.005775, 0.002942, 0.018063, -0.000279, -0.069623, -0.094190, -0.093069
#*# 	-0.070854, -0.010699, -0.001523, -0.026385, 0.033469, 0.005771, -0.079899, -0.083383, -0.083894
#*# 	-0.069887, -0.005611, 0.007454, 0.016655, 0.025605, 0.011117, -0.017646, -0.076555, -0.093182
#*# 	-0.116443, -0.040040, -0.025478, -0.032935, 0.016089, -0.012898, -0.086161, -0.096083, -0.113608
#*# 	-0.147308, -0.112782, -0.092626, -0.032696, 0.000499, -0.021220, -0.091371, -0.089375, -0.102947
#*# 	-0.121638, -0.096339, -0.076067, -0.100182, 0.007972, -0.023244, -0.089719, -0.104458, -0.101644
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 240.0
#*# min_y = 30.0
#*# max_y = 240.0
#*#
#*# [bed_mesh x1]
#*# version = 1
#*# points =
#*# 	0.054667, 0.060368, 0.069012, 0.074994, 0.059090, 0.099726, 0.029072, 0.057224, 0.034924
#*# 	-0.033237, 0.028434, 0.061894, 0.072878, 0.067146, 0.101850, 0.045773, 0.069010, -0.012867
#*# 	0.026712, 0.012446, 0.048576, 0.053590, 0.042044, 0.062135, -0.013362, 0.040177, 0.028440
#*# 	-0.038248, 0.011996, 0.056980, 0.060960, 0.052656, 0.067146, -0.003548, 0.036203, -0.017005
#*# 	0.052696, 0.042391, 0.069010, 0.070747, 0.064002, 0.076339, 0.002087, 0.045431, 0.034924
#*# 	-0.088173, -0.028807, 0.008996, 0.033056, 0.031188, 0.045431, -0.025369, -0.001817, -0.018950
#*# 	0.052801, -0.003095, 0.036200, 0.034924, 0.032122, 0.023258, -0.047106, -0.024584, -0.033528
#*# 	-0.075938, -0.026157, 0.014813, 0.018266, 0.026709, 0.027347, -0.035308, -0.016718, -0.023011
#*# 	-0.020237, -0.043175, -0.016800, -0.022017, -0.022222, -0.020650, -0.096863, -0.044498, -0.044264
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 270.0
#*# min_y = 40.0
#*# max_y = 260.0
